<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="Azizul Hakim Ashik" />
    <meta property="og:description" content="Hi. This is Azizul Hakim. Your website expert. This is my portfolio. Hope you will enjoy it." />
    <meta property="og:image" content="img/bg.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="This is a portfolio website of Azizul Hakim Ashik, Web developer">
    <meta name="keywords" content="Web designer, Website, Web developer, Azizul Hakim Ashik, Ah Ashik">
    <meta name="author" content="Azizul Hakim Ashik">
    <title>Ah~Ashik</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="img/fav.svg" type="image/x-icon" />
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/phone.css" />
  </head>
  <body>
    <div class="loading">
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div id="res_nav" class="d-none">
      <ul class="ps-0 mb-0">
        <li><a class="hover" href="#">Home</a></li>
        <li><a class="hover" href="#service">Services</a></li>
        <li><a class="hover" href="#skill">Skills</a></li>
        <li><a class="hover" href="#portfolio">Portfolio</a></li>
        <li><a class="hover" href="#about">About</a></li>
        <li><a class="hover" href="#contact">Contact</a></li>
      </ul>
      <img src="img/cross.svg" alt="cross" class="position-absolute" />
    </div>
    <header>
      <nav class="containers">
        <a href="#">
          <img src="img/logo.svg" alt="logo" class="logo d-block" />
        </a>
        <ul class="ps-0 mb-0 righteous">
          <li><a class="active" href="#">Home</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#skill">Skills</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="media">
          <a
            class="hover"
            target="_blank"
            href="https://www.facebook.com/profile.php?id=100018203687926"
          >
            <img src="img/fb.svg" alt="fb" />
          </a>
          <a
            class="hover"
            target="_blank"
            href="https://www.linkedin.com/in/azizul-hakim-ashik-52a23a212/"
          >
            <img src="img/linkedin.svg" alt="linkedin" />
          </a>
          <a class="hover" target="_blank" href="https://twitter.com/AJDev20">
            <img src="img/twitter.svg" alt="twitter" />
          </a>
          <img src="img/menu.svg" alt="menu" />
        </div>
      </nav>
    </header>
    <section id="hero" class="position-relative">
      <div class="cap">
        <h1>
          Perfection is achieved not when there is nothing more to add, but
          rather when there is nothing more to take away
        </h1>
        <p>
          This is a website service related platform. I am the service-provider
          and my name is AZIZUL HAKIM ASHIK. My job is providing you a
          world-class services in website. LET ME KNOW WHAT DO YOU NEED!
        </p>
        <div class="btns righteous">
          <a class="hover" href="#service">SERVICE</a>
          <a class="hover" href="#contact">CONTACT</a>
        </div>
      </div>
    </section>
    <section id="service">
      <div class="containers">
        <h2 class="h1">Services</h2>
        <div class="ser_div">
          <div class="ser_item">
            <div class="ser_pic"></div>
            <h3>Website Design</h3>
            <p class="mb-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repellendus veniam consequatur animi repellat ad qui Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Delectus, ipsa.
            </p>
          </div>
          <div class="ser_item">
            <div class="ser_pic"></div>
            <h3>Template Design</h3>
            <p class="mb-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repellendus veniam consequatur animi repellat ad qui Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Delectus, ipsa.
            </p>
          </div>
          <div class="ser_item">
            <div class="ser_pic"></div>
            <h3>PSD to HTML</h3>
            <p class="mb-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repellendus veniam consequatur animi repellat ad qui Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Delectus, ipsa.
            </p>
          </div>
          <div class="ser_item">
            <div class="ser_pic"></div>
            <h3>Web development</h3>
            <p class="mb-0">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Repellendus veniam consequatur animi repellat ad qui Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Delectus, ipsa.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="skill">
      <div class="containers">
        <h2 class="h1">Skills</h2>
        <div class="skill_div">
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/node.svg" alt="node" />
            </div>
            <div>
              <h4>NodeJS</h4>
              <div class="prog">
                <div data-percent="w60" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                Node.js is an open-source, cross-platform, back-end JavaScript
                runtime environment that runs on the V8 engine and executes
                JavaScript code outside a web browser. It helps to develop a
                website.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/html.svg" alt="node" />
            </div>
            <div>
              <h4>HTML</h4>
              <div class="prog">
                <div data-percent="w80" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                The HyperText Markup Language, or HTML is the standard markup
                language for documents designed to be displayed in a web
                browser. It can be assisted by technologies such as Cascading
                Style Sheets (CSS) and scripting languages such as JavaScript.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/css.svg" alt="node" />
            </div>
            <div>
              <h4>CSS</h4>
              <div class="prog">
                <div data-percent="w90" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                Cascading Style Sheets (CSS) is a style sheet language used for
                describing the presentation of a document written in a markup
                language such as HTML. CSS is a cornerstone technology of the
                World Wide Web, alongside HTML and JavaScript.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/js.svg" alt="node" />
            </div>
            <div>
              <h4>JavaScript</h4>
              <div class="prog">
                <div data-percent="w78" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                JavaScript (/ˈdʒɑːvəˌskrɪpt/), often abbreviated as JS, is a
                programming language that conforms to the ECMAScript
                specification. JavaScript is high-level, often just-in-time
                compiled, and multi-paradigm. It has curly-bracket syntax,
                dynamic typing, prototype-based object-orientation, and
                first-class functions.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/bootstrap.svg" alt="node" />
            </div>
            <div>
              <h4>Bootstrap</h4>
              <div class="prog">
                <div data-percent="w85" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                Bootstrap is a free and open-source CSS framework directed at
                responsive, mobile-first front-end web development. It contains
                CSS- and (optionally) JavaScript-based design templates for
                typography, forms, buttons, navigation, and other interface
                components.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/mongodb.svg" alt="node" />
            </div>
            <div>
              <h4>MongoDB</h4>
              <div class="prog">
                <div data-percent="w85" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                MongoDB is a source-available cross-platform document-oriented
                database program. Classified as a NoSQL database program,
                MongoDB uses JSON-like documents with optional schemas. MongoDB
                is developed by MongoDB Inc. and licensed under the Server Side
                Public License (SSPL).
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/react.svg" alt="react" />
            </div>
            <div>
              <h4>ReactJS</h4>
              <div class="prog">
                <div data-percent="w80" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                React (also known as React.js or ReactJS) is a free and
                open-source front-end JavaScript library for building user
                interfaces or UI components. It is maintained by Facebook and a
                community of individual developers and companies.
              </p>
            </div>
          </div>
          <div class="skill_item">
            <div class="skill_pic">
              <img src="img/figma.svg" alt="node" />
            </div>
            <div>
              <h4>Figma</h4>
              <div class="prog">
                <div data-percent="w90" class="prog_bar"></div>
              </div>
              <p class="mb-0">
                Figma is a vector graphics editor and prototyping tool which is
                primarily web-based, with additional offline features enabled by
                desktop applications for macOS and Windows.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio">
      <div class="containers">
        <h2 class="h1">Portfolio</h2>
        <div class="port_div righteous">
          <div class="port_item">
            <div class="port_pic">
              <img src="img/amazon.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Amazon Clone</h2>
            <span class="d-block">
              Technologies - React and Node
            </span>
            <div class="live">
              <a
                href="https://ah-amazon.herokuapp.com"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-1.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Code with Ashik</h2>
            <span class="d-block">
              Technologies - Node.js, Express.js, HTML, CSS, JavaScript,
              Bootstrap
            </span>
            <div class="live">
              <a
                href="https://code-with-ashik.herokuapp.com"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/mirza-azam.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Mirza Azam - MP</h2>
            <span class="d-block">
              Technologies - Node.js, Express.js, HTML, CSS, JavaScript,
              Bootstrap
            </span>
            <div class="live">
              <a
                href="https://mirza-azam.herokuapp.com"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img
                src="img/node-weather.jpg"
                alt="node-weather"
                class="w-100"
              />
            </div>
            <h2>Weather Application</h2>
            <span class="d-block">
              Technologies - NodeJS, HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik-weather-node.herokuapp.com/"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-3.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Shapen</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web6/"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-4.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>AshikMedia</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web9/Index.html"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-5.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Destrin</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web1/Index.html"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-6.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Appz</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web2/Index.html"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-7.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Steeler</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web4/Index.html"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-8.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>Impreza</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web5/"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-9.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>DigeCo</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web7/"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-11.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>University</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web10/Index.html"
                target="_blank"
              >Live</a>
            </div>
          </div>
          <div class="port_item">
            <div class="port_pic">
              <img src="img/port-12.jpg" alt="portfolio" class="w-100" />
            </div>
            <h2>A2Z</h2>
            <span class="d-block">
              Technologies - HTML, CSS, JavaScript, Bootstrap
            </span>
            <div class="live">
              <a
                href="https://ashik590.github.io/web13/"
                target="_blank"
              >Live</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about">
      <div class="containers">
        <h2 class="h1">About</h2>
        <div class="about_div">
          <div class="about_item">
            <h2>Azizul Hakim Ashik</h2>
            <p>
              Hello! my full name is
              <span>AZIZUL HAKIM ASHIK</span>. I'm an expert
              <span>WEB DEVELOPER</span>. I can design any kind of website. I
              also know the development sector. I'm also a
              <span>JavaScript developer</span>.
            </p>
            <p>
              I always try to provide best service for my client. Fulling my
              work quality is my first priority. I have a lot of skills in
              programming languages. Such as :-
            </p>
            <div class="list">
              <ul class="ps-0 mb-0">
                <li class="mb-2">HTML</li>
                <li class="mb-2">CSS</li>
                <li class="mb-2">JavaScript</li>
                <li>Bootstrap</li>
              </ul>
              <ul class="ps-0 mb-0">
                <li class="mb-2">ReactJS</li>
                <li class="mb-2">NodeJS</li>
                <li class="mb-2">ExpressJS</li>
                <li>MongoDB</li>
              </ul>
            </div>
          </div>
          <div class="about_item">
            <img src="img/profile.jpg" alt="photo" class="w-100" />
            <h2 class="text-center">আজিজুল হাকিম আশিক</h2>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="containers righteous">
        <h2 class="h1">Contact</h2>
        <!-- google map -->
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d3655.2805676956227!2d90.46679631429451!3d23.630121199278904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e2!4m3!3m2!1d23.630061899999998!2d90.4690225!4m3!3m2!1d23.6300666!2d90.4689666!5e0!3m2!1sen!2sbd!4v1628828639948!5m2!1sen!2sbd"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="con_form">
          <div class="address">
            <h2 class="mb-3">Address</h2>
            <div class="bordered">
              <div>
                <span>State :</span>
                <span>District :</span>
                <span>Area :</span>
                <span>Gmail :</span>
                <span>Phone :</span>
              </div>
              <div>
                <span>Bangladesh
                  <img class="ms-1" src="img/bd-flag.svg" alt="Flag" /></span>
                <span>Narayanganj</span>
                <span>Panchaboti</span>
                <span>adnanshanto1@gmail.com</span>
                <span>01883110955</span>
              </div>
            </div>
          </div>
          <form action="/msg" method="POST">
            <h2 class="mb-3">Mail Us</h2>
            <div class="input mb-2">
              <input
                id="name"
                placeholder="Enter your name"
                type="text"
                class="d-block w-100"
                name="name"
              />
              <small id="name_error" class="d-block"></small>
            </div>
            <div class="input mb-2">
              <input
                id="email"
                placeholder="Enter email address"
                type="email"
                class="d-block w-100"
                name="email"
              />
              <small class="d-block" id="email_error"></small>
            </div>
            <div class="input mb-2">
              <textarea
                id="message"
                rows="5"
                class="w-100"
                placeholder="Message us"
                name="message"
              ></textarea>
              <small class="d-block" id="message_error"></small>
            </div>
            <button type="button" class="hover">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <section id="follow">
      <h2 class="righteous h1">Follow Us</h2>
      <div class="media-follow">
        <a
          class="hover"
          target="_blank"
          href="https://www.facebook.com/profile.php?id=100018203687926"
        >
          <img src="img/fb.svg" alt="fb" />
        </a>
        <a
          class="hover"
          target="_blank"
          href="https://www.linkedin.com/in/azizul-hakim-ashik-52a23a212/"
        >
          <img src="img/linkedin.svg" alt="linkedin" />
        </a>
        <a class="hover" target="_blank" href="https://twitter.com/AJDev20">
          <img src="img/twitter.svg" alt="twitter" />
        </a>
        <a
          class="hover"
          target="_blank"
          href="https://www.instagram.com/azizulhakim684/"
        >
          <img src="img/instagram.svg" alt="instagram" />
        </a>
        <a class="hover" href="#">
          <img src="img/github.svg" alt="github" />
        </a>
      </div>
    </section>
    <footer>All copyright reserved © www.ahashik.com</footer>

    <!-- JavaScript included here -->

    <script src="js/app.js"></script>
    <script src="js/particles.min.js"></script>
    <script>
      particlesJS.load("hero", "particlesjs-config.json", function () {
      console.log("callback - particles.js config loaded"); });
    </script>
  </body>
</html>