<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yo! reached your message</title>
    <link rel="shortcut icon" href="img/fav.svg" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
      body{ display: grid; place-items: center; height: 100vh; font-family:
      "Righteous", cursive; } div { margin: 0 40px; } a { display: block; width:
      fit-content; margin: auto; color: #fff; background: linear-gradient(to
      bottom, #fb3737, #a70b3e); text-decoration: none; padding: 7px 15px;
      font-size: 18px; margin-top: 15px; transition: background 0.2s ease;
      box-shadow: 0px 2px 4px 0px #00000078; } a:hover{ color: #fff; background:
      linear-gradient(to bottom, #d32e2e, #830932); } h1 { background:
      linear-gradient(45deg, #6ee830, #00ca22f5); color: #fff; padding: 10px;
      text-shadow: 1px 1px 4px #000; }
    </style>
  </head>
  <body>
    <div>
      <h1 class="text-center">Dear
        <span class="text-capitalize">{{name}}</span></h1>
      <h4 class="text-center">Your message has been. When I'll response it as
        soon as possible</h4>
      <a href="/">Go back</a>
    </div>
  </body>
</html>